body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1140px;
}

.box {
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 100px;
  height: 500px;
  font-size: 1em;
}

.box1{
  background-color: #82b1ff;
  color:#fff;
}
.box2{
  background-color: #7e55d3;
  color:#fff;
}
.box3{
  background-color: #d5d5d5;
  color:#fff;
}
.box4{
  background-color: #b58561;
  color:#fff;
}
